header {
    display: flex;
    justify-content: space-between;
    background-color: #6885c4;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
header div{
    width: 70%;
}
header div h2{
    text-align: left;
}
main {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
}
.articles {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}
.articles article {
    width: 200px;
    border:1px black solid;
    padding: 3%;
}
.articles article img {
    width: 200px;
    height: auto;
}
.sidepanel {
    width: 15%;
}
body {
    margin: 0;
    padding: 0;
}

footer{
    background-color: #6885c4;
    padding: 10px;
    align-items: center;
}